body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f171e;
  margin-top: 56px;
  margin-bottom: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* -------------------- Common class -------------------- */

hr {
  border-bottom: 1px solid #8197a4 ;
}

.primary-color {
  color: #f2f4f6 !important;
  opacity: 0.9;
}

.secondary-color {
  color: #8197a4;
}

/* -------------------- MovieDropdown component -------------------- */

.navbar-main {
  background-color: #1a242f;
}

.search-box {
  background-color: #0f171e;
  border: 1px solid #0f79af;
  color: #fff !important;
  font-weight: 100;
}

.search-box:focus {
  background-color: #0f171e;
  border-color: #1399de;
  box-shadow: none;
}

.theme-button {
  background-color: #0f79af;
  color: #f2f4f6
}

.theme-button:hover {
  background-color: #1399de;
  color: #fff;
}

.theme-button:focus {
  box-shadow: none;
}

/* -------------------- home page -------------------- */

/* .home-page-body {
  margin-top: 56px;
  background-color: #0f171e;
} */

/* -------------------- Movie component -------------------- */

.card-main {
  border: none;
  margin: 25px 0;
  border-radius: 15px;
  overflow: hidden;
  background-color: #1a242f;
}

.card-main:hover {
  box-shadow: 0 14px 28px rgba(15, 121, 175, 0.35),
    0 10px 10px rgba(15, 121, 175, 0.32);
}

.card-body-wrapper {
  background-color: #1a242f;
  color: #fff;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* -------------------- MovieInfo component -------------------- */

.back-button {
  margin-bottom: 15px;
  background-color: #0f79af;
}

.cover-image {
  height: 350px;
  width: 274px;
}

.moviePosterParent {
  height: 350px;
  width: 274px;
  background: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviePoster {
  font-size: 200px;
  display: flex;
  justify-content: center;
  color: lightgray;
}

.movieName {
  color: #fff;
}

.genrePill {
  padding: 5px 15px;
  margin-right: 5px;
  display: inline-block;
  border-radius: 30px;
  background-color: #425265;
  color: #fff;
}

.movieInfo {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 500px;
  color: #fff;
  margin: 4px 0;
}

.movieInfo span {
  opacity: 0.9;
}

.button-disable { 
  background-color: gray !important;
  border: none;
}

/* -------------------- Cast component -------------------- */

.cast-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile {
  object-fit: cover;
}

.name {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}

.character {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.54;
}

.userIconParent {
  height: 96px;
  width: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f7;
  border-radius: 50%;
}

.userIcon {
  font-size: 55px;
  color: gray;
  display: flex;
  justify-content: center;
}

/* -------------------- Spin component -------------------- */

.spinner {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- overriding bootstrap -------------------- */

.dropdown-menu {
  background-color: #1a242f;
}

.nav-item.dropdown > a {
  color: #f2f4f6 !important;
  opacity: 0.9;
  transition: 0.2s all;
}

.nav-item.dropdown > a:hover {
  color: #fff !important;
  opacity: 1;
  font-weight: 500;
}