body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coverImage {
  height: 490px;
}

.movieName {
  font-size: 22px;
  font-weight: 500;
  color:#000;
}

.movieInfo {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 500px;
  color: #000;
  margin: 4px 0;
}

.movieInfo span {
  opacity: 0.9;
}

.btn-trailer {
  margin-top: 20px;
}

.profile {
  object-fit: cover;
}

.name {
  font-size: 18px;
  font-weight: 500;
}

.moviePosterParent {
  height: 410px;
  width: auto;
  background: #F3F4F7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moviePoster {
  font-size: 350px;
  display: flex;
  justify-content: center;
  color: gray;
}

.userIconParent {
  height: 200px;
  width: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F3F4F7;
  border-radius: 50%;
}

.userIcon {
  font-size: 130px;
  color: gray;
  display: flex;
  justify-content: center;
}